site_name: SkySQL Documentation
theme:
  name: material
  logo: assets/skysqllogo.png
  favicon: assets/favicon.png
  custom_dir: docs/stylesheets 
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  - content.tabs.link
  - content.tooltips
  # - header.autohide
  # - navigation.expand
  - navigation.footer
  - navigation.indexes
  # - navigation.instant
  # - navigation.instant.prefetch
  # - navigation.instant.progress
  # - navigation.prune
  # - navigation.sections
  # - navigation.tabs
  # - navigation.tabs.sticky
  - navigation.left
  - navigation.tracking
  - navigation.path
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

### TODO - ENABLING PLUGINS SEEMS TO GET RID OF 'SEARCH' ON LANDING PAGE
#plugins:
#  - glightbox
#  - social

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/skysqlinc
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/skysql
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/skysql

nav:
  - Introduction to SkySQL:
    - 'index.md'
    - 'Uptime SLA.md'
  - 'FAQs.md'
  - 'Quickstart' : 
      - 'Quickstart/README.md'
      - 'Quickstart/Launch DB using the REST API.md'
      - 'Quickstart/Launch DB using the Terraform Provider.md'
      - 'Quickstart/Launch DB using Python.md'
  - 'UI Portal Features' : 
      - 'Portal features/README.md'
      - 'Portal features/Launch page.md'
      - 'Portal features/Manage your Service.md'
      - 'Portal features/Service Details page.md'
      - 'Portal features/Notifications.md'
      - 'Portal features/Service Monitoring Panels.md'
      - 'Portal features/Billing.md'
  - 'Connecting to Sky DBs' :
      - 'Connecting to Sky DBs/README.md'
      - 'Connecting to Sky DBs/Connect using MariaDB CLI.md'
      - 'Connecting to Sky DBs/Connect from Node js App.md'
      - 'Connecting to Sky DBs/Connect from Java App.md'
      - 'Connecting to Sky DBs/Connect from Python App.md'
      - 'Connecting to Sky DBs/Connect from ‘C’ App.md'
      - 'Connecting to Sky DBs/Connect from ‘C++’ App.md'
      - 'Connecting to Sky DBs/Connect from MongoDB clients.md'
      - 'Connecting to Sky DBs/Connect using ODBC.md'
      - 'Connecting to Sky DBs/Connect using Connector R2DBC.md'
  - 'Backup and Restore' :
      - 'Backup and Restore/README.md'
      - Backup Examples:
          - 'Backup and Restore/Snapshot Backup Examples.md'
          - 'Backup and Restore/Physical Backup Examples.md'
          - 'Backup and Restore/Logical Backup Examples.md'
          - 'Backup and Restore/Incremental Backup Examples.md'
          - 'Backup and Restore/Binarylog Backup Examples.md'
          - 'Backup and Restore/Other backup API examples.md'
      - Restore Examples: 
          - 'Backup and Restore/Restore Listing Examples.md'
          - 'Backup and Restore/Restore from SkySQL Managed Storage.md'
          - 'Backup and Restore/Restore From Your Own Bucket.md'
          - 'Backup and Restore/Restore Delete Examples.md'
      - 'Backup and Restore/MariaDB Enterprise Backup.md'
  - 'Migrations, Data Loading' :
      - 'Migrations' :
          - 'Data loading, Migration/README.md'
          - 'Data loading, Migration/SkySQL-managed-migration.md'
          - 'Data loading, Migration/Migrating Using a Logical Dump and Replication.md'
      - 'Data loading':
          - 'Data loading, Migration/Import-CSV-data.md'
          - 'Data loading, Migration/Install Mariadb-dump.md'
          - 'Data loading, Migration/Install-mariadb-import.md'
          - 'Data loading, Migration/Replicating data from external DB.md'
  - 'Data Offloading' :
      - 'Data offloading/README.md'
      - 'Data offloading/Replicating data from SkySQL to external database.md'
  - 'AI Assistant' :
      - 'SkyCopilot Guide/README.md'
  - 'High Availability, DR' :
      - 'High Availability, DR/README.md'
      - 'High Availability, DR/Setup Global Replication.md'
  - 'Autonomously scale Compute/Storage' :
      - 'Autonomously scale Compute, Storage/README.md'
  - 'Security' :
      - 'Security/README.md'
      - 'Security/Managing Portal Users.md'
      - 'Security/Configuring Firewall.md'
      - 'Security/Encryption.md'
      - 'Security/Managing API keys.md'
      - 'Security/Private VPC connections.md'
      - 'Security/Portal Single Sign-On.md'
  - 'Configure your Database Server(s)' :
      - 'config/README.md'
      - 'config/Enterprise-Server-Single-Node.md'
      - 'config/Enterprise-Server-with-Replica(s).md'
      - 'config/SkySQL-Intelligent-Proxy.md'
  - 'Using AWS/GCP Private VPC Connections' :
      - 'Using AWS GCP private VPC connections/README.md'
      - 'Using AWS GCP private VPC connections/Setting up AWS Private Link.md'
      - 'Using AWS GCP private VPC connections/Setting up GCP Private Service Connect.md'
  - 'Power Tier' :
      - 'Billing and Power Tier/README.md'
  - 'FractionalDBA.md'
  - 'Reference Guides' :
      - 'Reference Guide/README.md'
      - 'Reference Guide/Instance Size Choices.md'
      - 'Reference Guide/Monitoring Metrics Reference.md'
      - 'Reference Guide/Region Choices.md'
      - 'Reference Guide/REST API Reference.md'
      - 'Reference Guide/Sky Stored Procedures.md'

copyright: Copyright &copy; 2023 - 2024 SkySQL Inc
