site_name: SkySQL Public Documentation
theme:
  name: material
  logo: assets/sky_logo2.png
  favicon: assets/favicon.png
#  custom_dir: docs/stylesheets/extra.css  # TODO - path not found ? 
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  - content.tabs.link
  - content.tooltips
  # - header.autohide
  # - navigation.expand
  - navigation.footer
  - navigation.indexes
  # - navigation.instant
  # - navigation.instant.prefetch
  # - navigation.instant.progress
  # - navigation.prune
  # - navigation.sections
  # - navigation.tabs
  # - navigation.tabs.sticky
  - navigation.left
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

### TODO - ENABLING PLUGINS SEEMS TO GET RID OF 'SEARCH' ON LANDING PAGE
#plugins:
#  - glightbox
#  - social

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/skysqlinc/skysql-docs
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/skysql
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/skysql


nav:
  - 'index.md'
  - 'FAQs ad991ed04d1c4c2c82774115261d3ad0.md'
  - 'Quickstart' : 
      - 'Quickstart da3c5848d30348b1815026b2d24219a6/README.md'
      - 'Quickstart da3c5848d30348b1815026b2d24219a6/Launch DB using the REST API cf85a5036a454ee987bb392df694dfc3.md'
      - 'Quickstart da3c5848d30348b1815026b2d24219a6/Launch DB using the Terraform Provider ae9f036b2d7c43b3a6e162bcdd4b4c97.md'
  - 'UI Portal Features' : 
      - 'Portal features a48bd73b584b4a9db9b84ca94f958adc/README.md'
      - 'Portal features a48bd73b584b4a9db9b84ca94f958adc/Launch page 014bc19a417c4d169df7ae3f80b5f684.md'
      - 'Portal features a48bd73b584b4a9db9b84ca94f958adc/Manage your Service a647ad5005f74122bc5fa86fa8d7fde6.md'
      - 'Portal features a48bd73b584b4a9db9b84ca94f958adc/Service Details page e98710a1c3444f3388548f782ff856f9.md'
      - 'Portal features a48bd73b584b4a9db9b84ca94f958adc/Notifications 47a5af40b9ee4be4970dfde8a92ef4a2.md'
  - 'Connecting to Sky DBs' :
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/README.md'
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/Connect from ‘C’ App b31c2f5880a74e198c61a60e74076cec.md'
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/Connect from ‘C++’ App 697a64cebee24fcf996e21450f1c32f0.md'
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/Connect from Java App 17bf88ae787b44a0bccb8d5eaac5f8ef.md'
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/Connect from MongoDB clients 0870eb5a71ff485b88bd113e90ff571f.md'
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/Connect from Node js App b63d489b6fbd426ab40d7f7f3be9025a.md'
      - 'Connecting to Sky DBs ae0bd7d47675416e9cd0bf2ba21d066c/Connect using Connector R2DBC 6f657edcac0849cb8ab4be6649ca71bd.md'
  - 'Data Loading, Migrations' :
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/README.md'
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/Import CSV data 50554477679448e6b4c8033d04f45142.md'
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/Import data from external DB 9d0a68120e404f36b9f09a5ad71796b7.md'
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/Install Mariadb-dump 14d92b62ce0f42cd83557aa80dd8c049.md'
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/Install mariadb-import 8c0db06c9f864b6cb88ca21f265d5990.md'
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/Migrating your existing Production DB 8ba80cbdb9b14f81a1df5b096d549522.md'
      - 'Data loading, Migration 8d6075f7123a4b59bedfeaad01d8461a/Migrating your existing Production DB 8ba80cbdb9b14f81a1df5b096d549522/Replicating data from external DB cdf15e1cd8d24880858d6cd2f50d8fd2.md'
  - 'Data Offloading' :
      - 'Data offloading 4e994ab1980845ed8015df2a15a4b05c/README.md'
      - 'Data offloading 4e994ab1980845ed8015df2a15a4b05c/Replicating data from SkySQL to external database 65a9d8aa0dc040c09548c042ba6582ae.md'
  - 'Autonomously scale Compute/Storage' :
      - 'Autonomously scale Compute, Storage afeeaa6466614d8d905efa44201746b2/README.md'
      - 'Autonomously scale Compute, Storage afeeaa6466614d8d905efa44201746b2/Uptime SLA ea985d9f82fc48b8bc0476cd359f48ce.md'
  - 'Scale Horizontally with High Availability' : 'Scaling horizontally, HA 1baaeba999bb4742930280184a67dcc1.md'
  - 'Configure your Database Server(s)' : 'Configure your Database Server(s) 0ab9fd71eb5443fe9bfd40e7c0a5142d.md'
  - 'Backup and Restore' :
      - 'Backup and Restore 9f59fb0f1ea34dcab24ff1c078a1c7d7/README.md'
      - 'Backup and Restore 9f59fb0f1ea34dcab24ff1c078a1c7d7/MariaDB Enterprise Backup c5e66a5fc2214471b8406660e09b288f.md'
      - 'Backup and Restore 9f59fb0f1ea34dcab24ff1c078a1c7d7/Point-in-Time Recovery (PITR) 6a440a109fbe414697b0f4c2c5fd81cb.md'
  - 'Using AWS/GCP Private VPC Connections' :
      - 'Using AWS GCP private VPC connections e42fec2f611d45a5b8f5caaa4d3a53d2/README.md'
      - 'Using AWS GCP private VPC connections e42fec2f611d45a5b8f5caaa4d3a53d2/Setting up AWS Private Link 4e93fe75265c415a857e4179e08b44a6.md'
      - 'Using AWS GCP private VPC connections e42fec2f611d45a5b8f5caaa4d3a53d2/Setting up GCP Private Service Connect 36f6d531c5514999bd464a80ac49919a.md'
  - 'Billing and Power Tier' :
      - 'Billing and Power Tier 3168a8895e7342aead007c253d998c8d/README.md'
      - 'Billing and Power Tier 3168a8895e7342aead007c253d998c8d/Billing 25528e88c22a49609c1524c75aaf551c.md'
  - 'Security' :
      - 'Security eb573a6a5bce4b56b9743a64a4ac713c/README.md'
      - 'Security eb573a6a5bce4b56b9743a64a4ac713c/Configuring Firewall 9bca9f4e09ce4152a2fce4e68b077e2d.md'
      - 'Security eb573a6a5bce4b56b9743a64a4ac713c/Managing Portal Users c0788729e3ae4bfb80e016631610e188.md'
      - 'Security eb573a6a5bce4b56b9743a64a4ac713c/Managing API keys 0a99815ccb0d4f1dbb7dea5e76d34407.md'
      - 'Security eb573a6a5bce4b56b9743a64a4ac713c/Portal Single Sign-On e91b27d636614b8c897bebe7d61cb312.md'
      - 'Security eb573a6a5bce4b56b9743a64a4ac713c/Private VPC connections b470fc74435c4e11ae5865458ffb78c6.md'
  - 'Reference Guides' :
      - 'Reference Guide 7667b5b9f4954afd938f580f90f36fc2/README.md'
      - 'Reference Guide 7667b5b9f4954afd938f580f90f36fc2/Instance Size Choices 332dbed99cf546be8724dacee2348e5a.md'
      - 'Reference Guide 7667b5b9f4954afd938f580f90f36fc2/Monitoring Metrics Reference b8ca28a9fda846dbabbf70fda23b0801.md'
      - 'Reference Guide 7667b5b9f4954afd938f580f90f36fc2/MaxScale Reference 6bff30837f1b405cb2679551df3be1d8.md'
      - 'Reference Guide 7667b5b9f4954afd938f580f90f36fc2/Region Choices 3970be558ee146eb99eb116ad2b8f519.md'
      - 'Reference Guide 7667b5b9f4954afd938f580f90f36fc2/REST API Reference 448f4a9dba524bd3a88fa7abd0649110.md'


#  - Quickstart : 
#    - 'Use API' : Quickstart da3c5848d30348b1815026b2d24219a6/Launch DB using the REST API cf85a5036a454ee987bb392df694dfc3.md

#  - Quickstart : 
#    - 'Quickstart da3c5848d30348b1815026b2d24219a6.md'

# Copyright
copyright: Copyright &copy; 2023 - 2024 SkySQL Inc
