site_name: SkySQL Public Documentation
theme:
  name: material
  logo: assets/sky_logo2.png
  favicon: assets/favicon.png
  custom_dir: docs/stylesheets  # TODO - path not found ? 
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  - content.tabs.link
  - content.tooltips
  # - header.autohide
  # - navigation.expand
  - navigation.footer
  - navigation.indexes
  # - navigation.instant
  # - navigation.instant.prefetch
  # - navigation.instant.progress
  # - navigation.prune
  # - navigation.sections
  # - navigation.tabs
  # - navigation.tabs.sticky
  - navigation.left
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

### TODO - ENABLING PLUGINS SEEMS TO GET RID OF 'SEARCH' ON LANDING PAGE
#plugins:
#  - glightbox
#  - social

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/skysqlinc
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/skysql
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/skysql


nav:
  - 'index.md'
  - 'FAQs.md'
  - 'Quickstart' : 
      - 'Quickstart/README.md'
      - 'Quickstart/Launch DB using the REST API.md'
      - 'Quickstart/Launch DB using the Terraform Provider.md'
  - 'UI Portal Features' : 
      - 'Portal features/README.md'
      - 'Portal features/Launch page.md'
      - 'Portal features/Manage your Service.md'
      - 'Portal features/Service Details page.md'
      - 'Portal features/Notifications.md'
      - 'Portal features/Service Monitoring Panels.md'
  - 'Connecting to Sky DBs' :
      - 'Connecting to Sky DBs/README.md'
      - 'Connecting to Sky DBs/Connect from ‘C’ App.md'
      - 'Connecting to Sky DBs/Connect from ‘C++’ App.md'
      - 'Connecting to Sky DBs/Connect from Java App.md'
      - 'Connecting to Sky DBs/Connect from Python App.md'
      - 'Connecting to Sky DBs/Connect from MongoDB clients.md'
      - 'Connecting to Sky DBs/Connect from Node js App.md'
      - 'Connecting to Sky DBs/Connect using Connector R2DBC.md'
      - 'Connecting to Sky DBs/Connect using ODBC.md'
  - 'Data Loading, Migrations' :
      - 'Data loading, Migration/README.md'
      - 'Data loading, Migration/Import CSV data.md'
      - 'Data loading, Migration/Import data from external DB.md'
      - 'Data loading, Migration/Install Mariadb-dump.md'
      - 'Data loading, Migration/Install mariadb-import.md'
      - 'Data loading, Migration/Migrating your existing Production DB.md'
      - 'Data loading, Migration/Migrating your existing Production DB.md'
      - 'Data loading, Migration/Replicating data from external DB.md'
  - 'Data Offloading' :
      - 'Data offloading/README.md'
      - 'Data offloading/Replicating data from SkySQL to external database.md'
  - 'Autonomously scale Compute/Storage' :
      - 'Autonomously scale Compute, Storage/README.md'
      - 'Autonomously scale Compute, Storage/Uptime SLA.md'
  - 'Scale Horizontally with High Availability' : 'Scaling horizontally, HA.md'
  - 'Configure your Database Server(s)' : 'Configure your Database Server(s).md'
  - 'Backup and Restore' :
      - 'Backup and Restore/README.md'
      - 'Backup and Restore/MariaDB Enterprise Backup.md'
  - 'Using AWS/GCP Private VPC Connections' :
      - 'Using AWS GCP private VPC connections/README.md'
      - 'Using AWS GCP private VPC connections/Setting up AWS Private Link.md'
      - 'Using AWS GCP private VPC connections/Setting up GCP Private Service Connect.md'
  - 'Billing and Power Tier' :
      - 'Billing and Power Tier/README.md'
      - 'Billing and Power Tier/Billing.md'
  - 'FractionalDBA.md'
  - 'Security' :
      - 'Security/README.md'
      - 'Security/Configuring Firewall.md'
      - 'Security/Managing Portal Users.md'
      - 'Security/Managing API keys.md'
      - 'Security/Portal Single Sign-On.md'
      - 'Security/Private VPC connections.md'
  - 'Reference Guides' :
      - 'Reference Guide/README.md'
      - 'Reference Guide/Instance Size Choices.md'
      - 'Reference Guide/Monitoring Metrics Reference.md'
      - 'Reference Guide/MaxScale Reference.md'
      - 'Reference Guide/Region Choices.md'
      - 'Reference Guide/REST API Reference.md'
      - 'Reference Guide/Sky Stored Procedures.md'


#  - Quickstart : 
#    - 'Use API' : Quickstart da3c5848d30348b1815026b2d24219a6/Launch DB using the REST API cf85a5036a454ee987bb392df694dfc3.md

#  - Quickstart : 
#    - 'Quickstart da3c5848d30348b1815026b2d24219a6.md'

# Copyright
copyright: Copyright &copy; 2023 - 2024 SkySQL Inc
